@media (max-width: 520px){
    .header-3 .logo-brand{
        width: 120px;
    }

    .header-3 .navbar-toggler{
        margin-right: 0;
        height: 32px;
        width: 40px;
    }

    .header-3 .navbar-toggler span{
        width: 16px;
    }

    .search_button--mobile{
        width: 36px;
        height: 36px;
    }
}